.one-one-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -13px -13px no-repeat ;
}

.one-two-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -42px -15px no-repeat ;
}

.one-three-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -70px -17px no-repeat ;
}

.one-four-icon{
  display:block;
  cursor:pointer;
  width:17px;
  height:17px;
  background: url("./images/custom-icon.png") -103px -15px no-repeat ;
}

.one-five-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:17px;
  background: url("./images/custom-icon.png") -135px -16px no-repeat ;
}

.one-six-icon{
  display:block;
  cursor:pointer;
  width:17px;
  height:16px;
  background: url("./images/custom-icon.png") -167px -17px no-repeat ;
}

.one-seven-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -199px -17px no-repeat ;
}

.one-eight-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -232px -17px no-repeat ;
}

.one-nine-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:16px;
  background: url("./images/custom-icon.png") -267px -17px no-repeat ;
}

.one-ten-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:18px;
  background: url("./images/custom-icon.png") -294px -14px no-repeat ;
}

.one-eleven-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:16px;
  background: url("./images/custom-icon.png") -328px -17px no-repeat ;
}

.one-twelve-icon{
  display:block;
  cursor:pointer;
  width:13px;
  height:18px;
  background: url("./images/custom-icon.png") -366px -14px no-repeat ;
}

.one-Thirteen-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -398px -16px no-repeat ;
}

.one-fourteen-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:18px;
  background: url("./images/custom-icon.png") -434px -15px no-repeat ;
}

.one-fifteen-icon{
  display:block;
  cursor:pointer;
  width:14px;
  height:18px;
  background: url("./images/custom-icon.png") -467px -16px no-repeat ;
}

/*2*/

.two-one-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:19px;
  background: url("./images/custom-icon.png") -11px -46px no-repeat ;
}

.two-two-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:20px;
  background: url("./images/custom-icon.png") -39px -46px no-repeat ;
}

.two-three-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -68px -45px no-repeat ;
}

.two-four-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:29px;
  background: url("./images/custom-icon.png") -96px -37px no-repeat ;
}

.two-five-icon{
  display:block;
  cursor:pointer;
  width:45px;
  height:20px;
  background: url("./images/custom-icon.png") -129px -45px no-repeat ;
}

.two-six-icon{
  display:block;
  cursor:pointer;
  width:26px;
  height:20px;
  background: url("./images/custom-icon.png") -184px -45px no-repeat ;
}

.two-seven-icon{
  display:block;
  cursor:pointer;
  width:26px;
  height:21px;
  background: url("./images/custom-icon.png") -224px -45px no-repeat ;
}

.two-eight-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -272px -48px no-repeat ;
}

.two-nine-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -308px -48px no-repeat ;
}

.two-ten-icon{
  display:block;
  cursor:pointer;
  width:22px;
  height:11px;
  background: url("./images/custom-icon.png") -342px -45px no-repeat ;
}

.two-eleven-icon{
  display:block;
  cursor:pointer;
  width:22px;
  height:24px;
  background: url("./images/custom-icon.png") -389px -40px no-repeat ;
}

.two-twelve-icon{
  display:block;
  cursor:pointer;
  width:22px;
  height:24px;
  background: url("./images/custom-icon.png") -435px -40px no-repeat ;
}

/*3*/

.three-one-icon{
  display:block;
  cursor:pointer;
  width:28px;
  height:26px;
  background: url("./images/custom-icon.png") -10px -81px no-repeat ;
}

.three-two-icon{
  display:block;
  cursor:pointer;
  width:28px;
  height:26px;
  background: url("./images/custom-icon.png") -53px -81px no-repeat ;
}

.three-three-icon{
  display:block;
  cursor:pointer;
  width:28px;
  height:26px;
  background: url("./images/custom-icon.png") -100px -81px no-repeat ;
}

.three-four-icon{
  display:block;
  cursor:pointer;
  width:28px;
  height:26px;
  background: url("./images/custom-icon.png") -151px -81px no-repeat ;
}

.three-five-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:18px;
  background: url("./images/custom-icon.png") -202px -89px no-repeat ;
}

.three-six-icon{
  display:block;
  cursor:pointer;
  width:25px;
  height:20px;
  background: url("./images/custom-icon.png") -238px -87px no-repeat ;
}

.three-seven-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:17px;
  background: url("./images/custom-icon.png") -275px -90px no-repeat ;
}

.three-eight-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:15px;
  background: url("./images/custom-icon.png") -313px -89px no-repeat ;
}

.three-nine-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:15px;
  background: url("./images/custom-icon.png") -349px -89px no-repeat ;
}

.three-ten-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:18px;
  background: url("./images/custom-icon.png") -384px -89px no-repeat ;
}

.three-eleven-icon{
  display:block;
  cursor:pointer;
  width:21px;
  height:16px;
  background: url("./images/custom-icon.png") -425px -91px no-repeat ;
}

.three-twelve-icon{
  display:block;
  cursor:pointer;
  width:21px;
  height:17px;
  background: url("./images/custom-icon.png") -466px -90px no-repeat ;
}

/*4*/

.four-one-icon{
  display:block;
  cursor:pointer;
  width:45px;
  height:50px;
  background: url("./images/custom-icon.png") -6px -119px no-repeat ;
}

.four-two-icon{
  display:block;
  cursor:pointer;
  width:45px;
  height:50px;
  background: url("./images/custom-icon.png") -77px -119px no-repeat ;
}

.four-three-icon{
  display:block;
  cursor:pointer;
  width:45px;
  height:50px;
  background: url("./images/custom-icon.png") -148px -119px no-repeat ;
}

.four-four-icon{
  display:block;
  cursor:pointer;
  width:50px;
  height:42px;
  background: url("./images/custom-icon.png") -228px -127px no-repeat ;
}

.four-five-icon{
  display:block;
  cursor:pointer;
  width:53px;
  height:54px;
  background: url("./images/custom-icon.png") -300px -115px no-repeat ;
}

.four-six-icon{
  display:block;
  cursor:pointer;
  width:50px;
  height:48px;
  background: url("./images/custom-icon.png") -376px -121px no-repeat ;
}

/*5*/

.five-one-icon{
  display:block;
  cursor:pointer;
  width:40px;
  height:40px;
  background: url("./images/custom-icon.png") -18px -198px no-repeat ;
}

.five-two-icon{
  display:block;
  cursor:pointer;
  width:40px;
  height:40px;
  background: url("./images/custom-icon.png") -85px -198px no-repeat ;
}
.five-three-icon{
  display:block;
  cursor:pointer;
  width:41px;
  height:40px;
  background: url("./images/custom-icon.png") -158px -198px no-repeat ;
}
.five-four-icon{
  display:block;
  cursor:pointer;
  width:40px;
  height:40px;
  background: url("./images/custom-icon.png") -226px -198px no-repeat ;
}
.five-five-icon{
  display:block;
  cursor:pointer;
  width:35px;
  height:35px;
  background: url("./images/custom-icon.png") -299px -202px no-repeat ;
}
.five-six-icon{
  display:block;
  cursor:pointer;
  width:35px;
  height:35px;
  background: url("./images/custom-icon.png") -357px -202px no-repeat ;
}

/*6*/

.six-one-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -19px -257px no-repeat ;
}

.six-two-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -42px -257px no-repeat ;
}

.six-three-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:17px;
  background: url("./images/custom-icon.png") -77px -256px no-repeat ;
}

.six-four-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:10px;
  background: url("./images/custom-icon.png") -120px -263px no-repeat ;
}

.six-five-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:10px;
  background: url("./images/custom-icon.png") -146px -263px no-repeat ;
}

.six-six-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:10px;
  background: url("./images/custom-icon.png") -182px -264px no-repeat ;
}

.six-seven-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:10px;
  background: url("./images/custom-icon.png") -209px -264px no-repeat ;
}

.six-eight-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:16px;
  background: url("./images/custom-icon.png") -245px -258px no-repeat ;
}

.six-nine-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:18px;
  background: url("./images/custom-icon.png") -281px -255px no-repeat ;
}

.six-ten-icon{
  display:block;
  cursor:pointer;
  width:10px;
  height:10px;
  background: url("./images/custom-icon.png") -326px -261px no-repeat ;
}

.six-eleven-icon{
  display:block;
  cursor:pointer;
  width:12px;
  height:12px;
  background: url("./images/custom-icon.png") -361px -260px no-repeat ;
}

.six-twelve-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -393px -254px no-repeat ;
}

/*7*/

.seven-one-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -17px -297px no-repeat ;
}

.seven-two-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -54px -297px no-repeat ;
}

.seven-three-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -89px -298px no-repeat ;
}

.seven-four-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:14px;
  background: url("./images/custom-icon.png") -132px -303px no-repeat ;
}

.seven-five-icon{
  display:block;
  cursor:pointer;
  width:23px;
  height:22px;
  background: url("./images/custom-icon.png") -207px -298px no-repeat ;
}

.seven-six-icon{
  display:block;
  cursor:pointer;
  width:22px;
  height:22px;
  background: url("./images/custom-icon.png") -253px -297px no-repeat ;
}

.seven-seven-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:20px;
  background: url("./images/custom-icon.png") -305px -299px no-repeat ;
}

.seven-right-icon{
  display:block;
  cursor:pointer;
  width:14px;
  height:20px;
  background: url("./images/custom-icon.png") -347px -299px no-repeat ;
}

.seven-nine-icon{
  display:block;
  cursor:pointer;
  width:19px;
  height:19px;
  background: url("./images/custom-icon.png") -385px -299px no-repeat ;
}

.seven-ten-icon{
  display:block;
  cursor:pointer;
  width:19px;
  height:19px;
  background: url("./images/custom-icon.png") -419px -300px no-repeat ;
}

/*8*/

.eight-one-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:16px;
  background: url("./images/custom-icon.png") -20px -346px no-repeat ;
}

.eight-two-icon{
  display:block;
  cursor:pointer;
  width:23px;
  height:23px;
  background: url("./images/custom-icon.png") -62px -343px no-repeat ;
}

.eight-three-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:18px;
  background: url("./images/custom-icon.png") -118px -348px no-repeat ;
}

.eight-four-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:18px;
  background: url("./images/custom-icon.png") -161px -348px no-repeat ;
}

.eight-five-icon{
  display:block;
  cursor:pointer;
  width:10px;
  height:16px;
  background: url("./images/custom-icon.png") -204px -350px no-repeat ;
}

.eight-six-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -240px -350px no-repeat ;
}

.eight-seven-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -283px -350px no-repeat ;
}

.eight-eight-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -323px -350px no-repeat ;
}

.eight-nine-icon{
  display:block;
  cursor:pointer;
  width:10px;
  height:10px;
  background: url("./images/custom-icon.png") -366px -351px no-repeat ;
}

.eight-ten-icon{
  display:block;
  cursor:pointer;
  width:22px;
  height:22px;
  background: url("./images/custom-icon.png") -399px -344px no-repeat ;
}

.eight-eleven-icon{
  display:block;
  cursor:pointer;
  width:10px;
  height:10px;
  background: url("./images/custom-icon.png") -448px -350px no-repeat ;
}

/*9*/

.nine-one-icon{
  display:block;
  cursor:pointer;
  width:10px;
  height:10px;
  background: url("./images/custom-icon.png") -24px -402px no-repeat ;
}

.nine-two-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:15px;
  background: url("./images/custom-icon.png") -61px -401px no-repeat ;
}

.nine-three-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:15px;
  background: url("./images/custom-icon.png") -92px -401px no-repeat ;
}

.nine-four-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:15px;
  background: url("./images/custom-icon.png") -126px -401px no-repeat ;
}

.nine-five-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -172px -398px no-repeat ;
}

.nine-six-icon{
  display:block;
  cursor:pointer;
  width:27px;
  height:26px;
  background: url("./images/custom-icon.png") -210px -393px no-repeat ;
}

.nine-seven-icon{
  display:block;
  cursor:pointer;
  width:27px;
  height:26px;
  background: url("./images/custom-icon.png") -261px -392px no-repeat ;
}

.nine-eight-icon{
  display:block;
  cursor:pointer;
  width:17px;
  height:17px;
  background: url("./images/custom-icon.png") -308px -396px no-repeat ;
}

.nine-nine-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:11px;
  background: url("./images/custom-icon.png") -347px -398px no-repeat ;
}

.nine-ten-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:11px;
  background: url("./images/custom-icon.png") -383px -400px no-repeat ;
}

/*10*/

.ten-one-icon{
  display:block;
  cursor:pointer;
  width:28px;
  height:37px;
  background: url("./images/custom-icon.png") -15px -432px no-repeat ;
}

.ten-two-icon{
  display:block;
  cursor:pointer;
  width:28px;
  height:37px;
  background: url("./images/custom-icon.png") -68px -432px no-repeat ;
}

.ten-three-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -119px -447px no-repeat ;
}

.ten-four-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -153px -447px no-repeat ;
}

.ten-five-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -184px -447px no-repeat ;
}

.ten-six-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -219px -447px no-repeat ;
}

.ten-seven-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -258px -447px no-repeat ;
}

.ten-eight-icon{
  display:block;
  cursor:pointer;
  width:21px;
  height:19px;
  background: url("./images/custom-icon.png") -304px -448px no-repeat ;
}

.ten-nine-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -333px -447px no-repeat ;
}

.ten-ten-icon{
  display:block;
  cursor:pointer;
  width:22px;
  height:20px;
  background: url("./images/custom-icon.png") -360px -447px no-repeat ;
}

.ten-eleven-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:22px;
  background: url("./images/custom-icon.png") -392px -447px no-repeat ;
}

/*11*/

.eleven-one-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -20px -491px no-repeat ;
}

.eleven-two-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -57px -491px no-repeat ;
}

.eleven-three-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -97px -491px no-repeat ;
}

.eleven-four-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -135px -491px no-repeat ;
}

.eleven-five-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -170px -490px no-repeat ;
}

.eleven-six-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -205px -491px no-repeat ;
}

.eleven-seven-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:16px;
  background: url("./images/custom-icon.png") -236px -490px no-repeat ;
}

.eleven-eight-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:16px;
  background: url("./images/custom-icon.png") -260px -490px no-repeat ;
}

.eleven-nine-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -291px -490px no-repeat ;
}

.eleven-ten-icon{
  display:block;
  cursor:pointer;
  width:17px;
  height:16px;
  background: url("./images/custom-icon.png") -320px -490px no-repeat ;
}

.eleven-eleven-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -355px -490px no-repeat ;
}

.eleven-twelve-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -389px -490px no-repeat ;
}

.eleven-thirteen-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -423px -490px no-repeat ;
}

/*12*/

.twelve-one-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -20px -531px no-repeat ;
}

.twelve-two-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:14px;
  background: url("./images/custom-icon.png") -55px -531px no-repeat ;
}

.twelve-three-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:14px;
  background: url("./images/custom-icon.png") -96px -531px no-repeat ;
}

.twelve-four-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:17px;
  background: url("./images/custom-icon.png") -130px -530px no-repeat ;
}

.twelve-five-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:17px;
  background: url("./images/custom-icon.png") -159px -530px no-repeat ;
}

.twelve-six-icon{
  display:block;
  cursor:pointer;
  width:12px;
  height:12px;
  background: url("./images/custom-icon.png") -197px -535px no-repeat ;
}

.twelve-seven-icon{
  display:block;
  cursor:pointer;
  width:12px;
  height:12px;
  background: url("./images/custom-icon.png") -240px -535px no-repeat ;
}

.twelve-eight-icon{
  display:block;
  cursor:pointer;
  width:96px;
  height:22px;
  background: url("./images/custom-icon.png") -269px -533px no-repeat ;
}

.twelve-nine-icon{
  display:block;
  cursor:pointer;
  width:31px;
  height:22px;
  background: url("./images/custom-icon.png") -393px -533px no-repeat ;
}

/*13*/

.thirteen-one-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:16px;
  background: url("./images/custom-icon.png") -21px -576px no-repeat ;
}

.thirteen-two-icon{
  display:block;
  cursor:pointer;
  width:17px;
  height:18px;
  background: url("./images/custom-icon.png") -54px -576px no-repeat ;
}

.thirteen-three-icon{
  display:block;
  cursor:pointer;
  width:11px;
  height:11px;
  background: url("./images/custom-icon.png") -89px -579px no-repeat ;
}

.thirteen-four-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -119px -575px no-repeat ;
}

.thirteen-five-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -150px -575px no-repeat ;
}

.thirteen-six-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -186px -575px no-repeat ;
}

.thirteen-seven-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:15px;
  background: url("./images/custom-icon.png") -234px -578px no-repeat ;
}

.thirteen-eight-icon{
  display:block;
  cursor:pointer;
  width:15px;
  height:15px;
  background: url("./images/custom-icon.png") -263px -578px no-repeat ;
}

.thirteen-nine-icon{
  display:block;
  cursor:pointer;
  width:13px;
  height:13px;
  background: url("./images/custom-icon.png") -288px -580px no-repeat ;
}

.thirteen-ten-icon{
  display:block;
  cursor:pointer;
  width:13px;
  height:13px;
  background: url("./images/custom-icon.png") -311px -578px no-repeat ;
}

.thirteen-eleven-icon{
  display:block;
  cursor:pointer;
  width:12px;
  height:12px;
  background: url("./images/custom-icon.png") -348px -580px no-repeat ;
}

.thirteen-twelve-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:18px;
  background: url("./images/custom-icon.png") -374px -574px no-repeat ;
}

.thirteen-thirteen-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:18px;
  background: url("./images/custom-icon.png") -405px -574px no-repeat ;
}


/*14*/
.fourteen-one-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -21px -612px no-repeat ;
}

.fourteen-two-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -53px -612px no-repeat ;
}

.fourteen-three-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:15px;
  background: url("./images/custom-icon.png") -86px -612px no-repeat ;
}

.fourteen-four-icon{
  display:block;
  cursor:pointer;
  width:12px;
  height:10px;
  background: url("./images/custom-icon.png") -131px -618px no-repeat ;
}

.fourteen-five-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -155px -614px no-repeat ;
}

.fourteen-six-icon{
  display:block;
  cursor:pointer;
  width:16px;
  height:16px;
  background: url("./images/custom-icon.png") -179px -614px no-repeat ;
}

.fourteen-seven-icon{
  display:block;
  cursor:pointer;
  width:22px;
  height:22px;
  background: url("./images/custom-icon.png") -109px -610px no-repeat ;
}

.fourteen-eight-icon{
  display:block;
  cursor:pointer;
  width:22px;
  height:22px;
  background: url("./images/custom-icon.png") -254px -610px no-repeat ;
}

.fourteen-nine-icon{
  display:block;
  cursor:pointer;
  width:14px;
  height:12px;
  background: url("./images/custom-icon.png") -294px -614px no-repeat ;
}

.fourteen-ten-icon{
  display:block;
  cursor:pointer;
  width:14px;
  height:16px;
  background: url("./images/custom-icon.png") -325px -611px no-repeat ;
}

.fourteen-eleven-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -353px -609px no-repeat ;
}

.fourteen-twelve-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -353px -609px no-repeat ;
}

.fourteen-thirteen-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:19px;
  background: url("./images/custom-icon.png") -391px -611px no-repeat ;
}

.fourteen-fourteen-icon{
  display:block;
  cursor:pointer;
  width:18px;
  height:19px;
  background: url("./images/custom-icon.png") -391px -611px no-repeat ;
}

.fourteen-fifteen-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -425px -610px no-repeat ;
}

/*15*/
.fifteen-one-icon{
  display:block;
  cursor:pointer;
  width:50px;
  height:50px;
  background: url("./images/custom-icon.png") -12px -639px no-repeat ;
}

.fifteen-two-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -82px -654px no-repeat ;
}

.fifteen-three-icon{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url("./images/custom-icon.png") -119px -654px no-repeat ;
}

.fifteen-four-icon{
  display:block;
  cursor:pointer;
  width:60px;
  height:46px;
  background: url("./images/custom-icon.png") -167px -643px no-repeat ;
}